*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

# Project exclude paths
/IAP5Helper/build/
/IAP5Helper/build/intermediates/javac/release/classes/