<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- для публикации в Google Play -->
    <uses-permission android:name="com.android.vending.BILLING" />

    <application>
        <meta-data
            android:name="publisher"
            android:value="google" />
        <meta-data
            android:name="billing_url"
            android:value="https://billing.webguard.app/" />
    </application>

</manifest>